
.card{
	margin: 0px auto;
    width: 300px;
    height: 60px;
    position: relative;
    box-shadow: 1px 2px 6px #fff8f5;
    background-color:#a435f0;
    color:#ffffff;
    } 
  .card:hover {
    background-color: #15ffa0;
}

    
    .base, #scratch {
    cursor: default;
    height: 60px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grabbing;
    }
    .base {
    line-height: 60px;
    text-align: center;
    }
    #scratch {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -webkit-touch-callout: none;
    /* -webkit-user-select: none; */
    
    }
  
  
  
  
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 32px);
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #0f1519;
    padding: 10px;
  
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #a435f0;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.gallery-item button:hover {
    background-color: #15ffa0;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 32px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 calc(100% - 32px);
    }
}
  
  
  .popup-ad {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            background-color: black;
            color: gray;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 1000;
	  padding-bottom: 15px;
        }
        .popup-ad h4{
          color: white;
        }
        .popup-ad img {
            width: 100%;
            display: block;
        }
        .popup-ad .content {
            padding: 10px;
            text-align: center;
        }
        .popup-ad .close-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
        .popup-ad .cta-button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #00ff00; /* Green background */
            color: black; /* Black text color */
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 10px; /* Margin bottom for spacing */
        }
        .popup-ad .timer {
            margin-top: 10px;
            font-size: 18px;
        }

  /* video add */

.videoad-container {
    width: 100%;
    max-width: 970px;
    margin: 20px auto;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.videoad-video-container {
    width: 100%;
    height: auto;
    position: relative;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.videoad-info-container {
    padding: 10px;
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.videoad-info-container p {
    margin: 0;
}

.videoad-button-container {
    margin-left: auto;
}

.videoad-button-container a {
    text-decoration: none;
}

.videoad-button-container button {
    padding: 10px 20px;
    background-color: #00ff00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .videoad-info-container {
        flex-direction: column;
        align-items: center;
    }

    .videoad-button-container {
        margin-left: 0;
        margin-top: 10px;
    }

    .videoad-button-container button {
        display: block;
    }
}


.postpromotion-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 20px;
        justify-content: center;
    }
    
    .postpromotion-gallery-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 calc(33.333% - 32px);
        margin-bottom: 16px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: #0f1519;
        padding: 10px;
    }
    
    .postpromotion-gallery-item img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
    }
    
    .postpromotion-gallery-item button {
        margin-top: 20px; /* Increased margin top for more space above the button */
        padding: 15px 30px; /* Increased padding for more space inside the button */
        border: none;
        background-color: #a435f0;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
        align-self: center; /* Center the button horizontally */
    }
    
    .postpromotion-gallery-item button:hover {
        background-color: #15ffa0;
    }
    
    .postpromotion-gallery-item:hover img {
        transform: scale(1.05);
    }
    
    .postpromotion-gallery-item p {
        color: #FFFFFF;
        margin-top: 10px; /* Added margin top for space between description and button */
        flex-grow: 1; /* Allow the paragraph to take up available space */
        display: flex;
        align-items: center; /* Center text vertically */
        justify-content: center; /* Center text horizontally */
    }
    
    @media (max-width: 768px) {
        .postpromotion-gallery-item {
            flex: 1 1 calc(50% - 32px);
        }
    }
    
    @media (max-width: 480px) {
        .postpromotion-gallery-item {
            flex: 1 1 calc(100% - 32px);
        }
    }
    
